<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Node File System Exercise</h1>
    <p>
        This exercise demonstrates the use of <code>Node.js</code> <code>fs</code>
         module using asynchronuos calls to <code>fs.readDirs()</code>,
         <code>fs.readFile()</code>, <code>fs.writeFile()</code>, 
         <code>fs.appendFile()</code> and <code>fs.unlink()</code>. The response
         screens are presented after the promise is fulfilled.
    </p>
    <p>
        The index screen displays all of the file names in the "scratchPad" 
        directory. The user can then enter a file name and select the 
        appropriate option from the drop down list 
        ("READ, CREATE, UPDATE, APPEND, DELETE"). A response screen is presented
        for each type of operation except DELETE. Once the appropriate file operation
        has completed the user will be redirected back to the index page.
    </p>
</body>
</html>