<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node FS</title>
    <link rel="stylesheet" href="styles/addFileStyle.css" />
  </head>
  <body>
    <div class="container">
      <div>
        <h1>Node File System</h1>
        <div id="file-contents-container" class="file-contents">
          <form class="form" action="/form-submission-add-file" method="POST">
            <input type="hidden" id="file-name" name="file-name" value=<%=fileName%>>
            <label for="file-contents">Add New File Contents Below: <span class="red"> <%=fileName%> </span></label>
            <textarea
              name="file-contents"
              id="file-contents"
              cols="30"
              rows="10"
            ><%=fileContents%></textarea>
            <div class="submit">
              <button id="submit-button" type="submit" value="Submit">
                Add
              </button>
          </form>
            <button>
              <a class="no-text-decoration" href="/">Index Page</a>
            </button>
      </div>
    </div>
  </body>
</html>