<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node FS</title>
    <link rel="stylesheet" href="styles/errorStyle.css" />
  </head>
  <body>
    <div class="container">
      <div>
        <h1>Node File System</h1>
        <h2 class="red">Opps! An Error Has Occurred</h2>
        <h3><%=errorText%></h3>
        <button type="button">
          <a class="no-text-decoration" href="/">Index Page</a>
        </button>
      </div>
    </div>
  </body>
</html>
