<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <label for="file-directory">Directory Listing: "<%=dirPath%>"</label>
    <textarea name="file-directory"
              id="file-directory"
              cols="40" rows="10"><%=dirList%></textarea>
    <form action="form-submission">
        <label for="file-name">File Name</label>
        <input type="text" id="file-name" name="file-name">
        <label for="file-action">Action</label>
        <select name="file-action" id="file-action">
            <option value="add">Add</option>
            <option value="update">Update</option>
            <option value="delete">Delete</option>
        </select>

    </form>
  </body>
</html>
